@model CourseManager.UI.Models.GroupModel
@{
  ViewBag.Title = "Edit";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
  @Html.ValidationSummary(true)
  <fieldset>
    <legend>@CourseManager.UI.Resources.Group_Entity_Text</legend>
    <div class="editor-label">
      @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Name)
      @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="editor-label">
      @Html.LabelFor(model => model.Identifier)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Identifier)
      @Html.ValidationMessageFor(model => model.Identifier)
    </div>
    @Html.HiddenFor(model => model.ID)
    <p>
      <input type="submit" value="@CourseManager.UI.Resources.Global_Save_Action" />
    </p>
  </fieldset>
}
<div>
  @Html.ActionLink(CourseManager.UI.Resources.Global_Back_to_List_Action, "Index")
</div>
