@model IEnumerable<CourseManager.UI.Models.GroupModel>
@{
  ViewBag.Title = "Index";
}
<h2>@CourseManager.UI.Resources.Group_List_Header</h2>

<p>
  @Html.ActionLink(CourseManager.UI.Resources.Group_Add_New_Text, "Create")
</p>
<table>
  <tr>
    <th>
    </th>
    <th>
      @CourseManager.UI.Resources.Group_Name_Label
    </th>
    <th>
      @CourseManager.UI.Resources.Group_Identifier_Label
    </th>
  </tr>
  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.ActionLink(CourseManager.UI.Resources.Global_Update_Action_text, "Edit", new { id = item.ID })
        |
        @Html.ActionLink(CourseManager.UI.Resources.Global_Delete_Action_Text, "Delete", new { id = item.ID })
      </td>
      <td>
        @item.Name
      </td>
      <td>
        @item.Identifier
      </td>
    </tr>
  }
</table>
